<%- contentFor('content') %>
    <h1><%=viewData.title%></h1>
    <h1><%=viewData.text%></h1>
    <button href = "/pokenea">Ver la informacion</button>
    <button href = "/pokenea/show">Ver la filosofia</button>
